@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Animations */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes Rspin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.spin {
  animation: spin 40s linear infinite;
  @apply scale-150;
}

.fastspin {
  animation: spin 60s linear infinite;
}

.Rspin {
  animation: Rspin 60s linear infinite;
}

/* Base styles with custom fonts */
@layer base {
  h1 {
    font-family: "Host Grotesk", sans-serif;
    font-weight: 700; /* bold */
  }
  p {
    font-family: "Open Sans", sans-serif;
  }
}

